* {
    box-sizing: border-box;
    margin:0px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #0033CC;
    text-decoration:none;
}

.header {
    color: #000000;
    height: 125px;
    position: relative;
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 0px 0px;
}

h1 {
    font-family: Georgia, serif;
}

h2, h3, h4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    height: 3em;
    font-size: 3em;
    padding: 30px 0px;
}

h3 {
    height: 2em;
    font-size: 2em;
    padding: 15px 0px;
}

h4 {
    height: 1.5em;
    font-size: 1.5em;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    margin: 0em 10em;
}

.loginButton, .registration, .greeting, .logOut {
    max-width: 300px;
    text-align: center;
    padding: 40px 0px;
    height: 100%;
    font-size: 1.7em;
}

.loginButton:hover, .registration:hover {
    background-color: #C0C0C0;
}

.loginPanel {
    max-width: 100px;
    height: 100%;
    margin: 5px 0px 0px 0px;
    overflow:visible;
}

.loginField {
    max-width: 153px;
}

#loginPanelSubmit {
    margin: 0px 0px 0px -26px;
}

ul.menu {
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 0;
}

li.menu {
    display: inline;
    height: 100%;
    background-color: #C0C0C0;
    text-align: center;
    padding: 15px 0px;
    font-size: 1.7em;
}

li.menu.col-2:hover {
    background-color: #B0B0B0;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 15%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pic {
    text-align: center;
}

footer, .footer, .addToCart {
    height: 120px;
    padding: 20px 0px;
    text-align: center;
}

.addToCart, #backToMain {
    height: 100px;
    padding-top: 20px;
    margin-top: 1em;
    text-align: center;
}
